---
Language: Cpp
BasedOnStyle: Google

AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: Never

BinPackArguments: false
BinPackParameters: false

IndentWidth: 2
ContinuationIndentWidth: 4
